<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title || Library Mangement</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <header>
            <nav class="navbar main-menu ">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="~/Home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                            <li><a href="~/Home/About"><i class="glyphicon glyphicon-info-sign"></i> About</a></li>
                            <li><a href="~/Books/Index"><i class="glyphicon glyphicon-th-list"></i> Books</a></li>
                            <li><a href="~/Students/Index"><i class="glyphicon glyphicon-user"></i> Students</a></li>
                            <li><a href="~/BorrowHistories/Index"><i class="glyphicon glyphicon-book"></i> Borrow</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
